{{!< default}}

<main>
  <div class="">
    {{#get "posts" order="published_at desc" limit="1" filter="featured:true" include="authors,tags" as |featured_post| }}
        {{#if featured_post}}
            {{#featured_post}}
                {{> "post-card-featured"}}
            {{/featured_post}}
        {{/if}}
    {{/get}}
  </div>

  <div class="container lg:flex lg:items-center lg:justify-between py-24 lg:gap-4">
    <div class="shrink-0">
      <h1 class="mb-6 font-bold text-6xl tracking-tighter uppercase">{{@site.title}}</h1>
      <p class="mb-6 max-w-lg font-bold text-2xl text-neutral-600">{{@site.description}}</p>
    </div>

    <a href="/about" class="button">Learn More &#10149;</a>
  </div>

  <div class="container py-8">
    {{#get "posts" order="published_at desc" limit="12" filter="featured:false" include="authors,tags"}}
      {{#if posts}}
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
          {{#foreach posts}}
            {{> "post-card"}}
          {{/foreach}}
        </div>
      {{/if}}
    {{/get}}
  </div>
</main>
