{{!< default}}

<main>
  <div class="container">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
      {{#foreach posts}}
        {{> "post-card"}}
      {{/foreach}}
    </div>

    <div class="mt-8">
      {{pagination}}
    </div>
  </div>
</main>
